<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add patient</title>


        <!-- Boostrap CSS link -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
{% block content %}
    <div class="container ">
        <h3>Add a new Patient </h3>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
        
            <input type="submit" class="btn btn-primary my-3">
            <a href="{% url 'patients_data' %}" class="btn btn-danger">Cancel</a>
        </form>
    </div>
  {% endblock content%}  
</body>
</html>