.login {
    font-family: 'Poppins', sans-serif;
  
}
.login h2{
    color: rgb(64, 201, 201);
}

.login .message {
    background-color: rgb(187, 224, 187);
    border-radius: 7px;
    padding: 5px 8px;
}


.login a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    background-color: rgb(9, 80, 99);
    border: none;
    border-radius: 7px;
    padding: 2px 4px;
}



.login .container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.login .login-container {
    display: flex;
    align-items: center;
    gap: 15px;
   height: 100%;
    
}


.login .login-image img {
    width: 500px;
    height: auto;
}

 .inputs  .form .email input {
    width: 350px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid grey;
    outline: none;
    padding: 0 20px;
}


.inputs  .form .username input {
    width: 350px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid grey;
    outline: none;
    padding: 0 20px;
}


.inputs  .form .password input {
    width: 350px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid grey;
    outline: none;
    padding: 0 20px;
}

.inputs .form .login input {
    margin-top: 20px;
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: rgb(80, 222, 222);
    cursor: pointer;
    font-weight: 800;
    color: #fff;
}

.inputs .form .login input:hover {
    background-color: rgb(9, 80, 99);
    transition: 0.4s ease;
}



@media screen and (max-width: 500px) {
    .login .container {
        height: 70vh;
       
    }
    .login .login-image{
        display: none;
    }
    .inputs  .form .email input {
        width: 260px;
    }

    .inputs  .form .username input{
        width: 260px;
    }

    .inputs  .form .password input {
        width: 260px;
    }

    .inputs  .form .login input {
        width: 260px;
    }
}
